:root {
  --a4-width: 210mm;
  --a4-height: 297mm;
  --paper-padding: 5mm;
  --layout-gap: 10mm;
  --logo: 25mm;
  --layout-gap: 10mm;
  --footer-height: 10mm;
}

/* ========================================================================== */

@media print {
  .background {}

  .paper {}
}

/* ========================================================================== */

@media screen {
  .background {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: var(--paper-padding);
    padding: var(--paper-padding) 0;
    background-color: hsla(0, 0%, 85%, 1);
    width: 100%;
    min-width: calc(var(--a4-width) + var(--paper-padding) + var(--paper-padding));
  }

  .paper {
    margin: 0 var(--paper-padding);
    border: solid 1px hsla(0, 0%, 50%, 1);
    background-color: hsla(0, 0%, 100%, 1);
    box-shadow: 0 0 calc(var(--paper-padding) / 2) rgba(0, 0, 0, 0.5)
    ;
  }
}

/* ========================================================================== */

@media all {

  html,
  body,
  #root {}

  body {
    overflow: auto;
  }

  .background {}

  .paper {
    width: var(--a4-width);
    height: var(--a4-height);
    overflow: hidden;
    border-radius: 3px;
  }

  .contents {
    padding: var(--layout-gap);
  }

  .page-header {
    display: grid;
    grid-template-columns: var(--logo) 1fr;
    column-gap: var(--layout-gap);
    height: var(--logo);
  }

  .logo {
    width: var(--logo);
  }

  .header-contents {
    display: flex;
    align-items: flex-end;
  }

  .page-contents {
    margin-left: calc(var(--logo) + var(--layout-gap));
    height: calc(var(--a4-height) - var(--layout-gap) - var(--logo) - var(--layout-gap) - var(--footer-height) - var(--layout-gap));
    overflow: hidden;
  }

  .page-footer {
    margin-top: var(--layout-gap);
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
  }

  .footer-page-number {
    width: var(--footer-height);
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* ========================================================================== */

.debug .page-header {
  background-color: hsla(60, 100%, 50%, 0.1);
}

.debug .page-contents {
  background-color: hsla(0, 100%, 50%, 0.1);
}

.debug .page-footer {
  background-color: hsla(60, 100%, 50%, 0.1);
}